<div id="order_book" class="panel panel-default">
  <div style="display:flex;">
    <div class="panel-fixed-head" style="width: 50%;border-right: 1px solid rgba(255, 255, 255, 0.04);">
        <div id="order_book_header" class="row">
            <div class="col-left">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="amount text-left col-xs-8" style="font-weight: 400;">
                                Price <span style="text-transform: uppercase;"><%= @data.fetch(:current_market).fetch(:bid_unit) %></span>
                            </th>
                            <th class="volume text-right col-xs-6" style="font-weight: 400;">
                                Amount <span style="text-transform: uppercase;"><%= @data.fetch(:current_market).fetch(:bid_unit) %></span>
                            </th>
                            <th class="price text-right col-xs-7" style="font-weight: 400;">
                                Volume <span style="text-transform: uppercase;"><%= @data.fetch(:current_market).fetch(:ask_unit) %></span>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-fixed-head-his" style="width: 50%;">
        <div id="order_book_header" class="row">
            <div class="col-left">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="amount text-left col-xs-6" style="font-weight: 400;">
                                Time
                            </th>
                            <th class="volume text-right col-xs-9" style="font-weight: 400;">
                                Price <span style="text-transform: uppercase;"><%= @data.fetch(:current_market).fetch(:bid_unit) %></span>
                            </th>
                            <th class="price text-right col-xs-7" style="font-weight: 400;">
                                Volume <span style="text-transform: uppercase;"><%= @data.fetch(:current_market).fetch(:ask_unit) %></span>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  </div>
    <div class="panel-fixed panel-body-content">
        <div id="order_book_body" class="row">
            <div class="col-xs-12" style="border-right: 1px solid rgba(255, 255, 255, 0.04);">
                <div class="col-left" style="float: unset;">
                    <table class="table bids"></table>
                </div>
                <div class="col-left" style="float: unset;">
                    <table class="table asks"></table>
                </div>
            </div>
            <%= render partial: 'market_trades' %>
        </div>
    </div>
</div>